/* styles for the error pop if user input is over 140 characters*/
#error-popup {
  display: none;
  width: 100%;
  border: red solid 2px;
  border-radius: 5px;
  color: red;
}
#error-message {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}