/* styles for the profile window (avatar, username) on webpage */
.profile-header {
  height: 400px;
  background-color: #00b0c7;
  background-image: url("https://www.transparenttextures.com/patterns/dark-stripes-light.png");
}
.avatar-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar-name {
  display: flex;
  justify-content: center;
}
#header-name {
  color:brown;
  margin: 0;
}
#interactables {
  display: flex;
  justify-content: space-between;
}
