/* styles for the overall layout of the tweets homepage */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Source Sans Pro', "sans-serif";
  color: #FFFF;
  background-color: #f4f1ec;
  font-size: 24px;
}
.container {
  color: black;
}
#generic-question {
  display: flex;
  font-family: 'Source Sans Pro';
}
#submit-tweet {
  display: flex;
  font-family: 'Bungee';
  color: white;
  background-color: rgb(33, 92, 219);
  font-size: 80%;
  margin-left: 5px;
}
.char-count {
  display: flex;
  font-family: 'Bungee';
  color: rgb(85, 81, 81);
  font-size: 80%;
  margin-right: 5px;
}
.danger {
  color: red;

}
#tweet-text {
  display: flex;
  width: 97%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  background-color: #f4f1ec;
  margin-bottom: 5px; 
  margin-left: 5px; 
}
.newTweet {
  display: flex;
}
#input-label {
  display: flex;
  font-family: 'Bungee';
  margin-bottom: 1.5em;
  margin-top: 5px;
}
#compose-tweet {
  border: 2px black solid;
  border-radius: 15px;
}
.article-text * {
  max-width: 60rem;
  word-break: break-all;
}

/* style control for desktop view */
@media only screen and (min-width: 900px) {

  .content-area {
    display: flex;
  }
  .profile-header.profile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    position: sticky;
    top: 120px;
    height: 100vh;
  }
  .container {
    display: flex;
    width: 90%;
    margin-left: 5%;
    justify-content: center;
    background-color: #f4f1ec;
    color: black;
    
  }
  #content-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px solid black;
    border-radius: 15px;
  }
   body > header {
    display: flex;
    transform: translateX(-15vw) translateY(25vh);
    border: orchid 10px solid;
    flex-direction: column;
    height: 70%;
  }
  .container {
    display: flex;
    width: 100%;
    border: darkslategrey 15px solid;
  }
}