.navbar {
  display: flex;
  height: 120px;
  width: 100%;
  position: fixed;
  /* top: -120px; */
  background-color: #4056A1;
  justify-content: space-between;
  align-items: center;
}
.navbar .title {
  display: flex;
  font-family: 'Bungee';
  font-size: 30px;
  padding-left: 1.5em;
}
.navbar .rightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-right: 1.5em;
}
.navbar .rightSide .fa-angle-double-down {
  color: red;
}
.navbar .rightSide p {
  margin: 0;
}
.spacer {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: seashell;
  padding: 10px;
}