#old-tweet-text {
  display: flex;
  flex-direction: column;
  width: 98%;
  border: 2px solid purple;
  border-radius: 15px;
}
#old-tweet-text > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding-top: 2px;
  padding-bottom: 2px;
}
.avatar-location {
  display: flex;
  justify-content: row;
  align-items: center;
}
#engagement-container {
  display: flex;
  border: 2px solid pink;
  justify-content: space-between;
}
.fas.fa-user-astronaut {
 display: flex;
 font-size: 2em;
 justify-content: center;
 align-items: center;
 color: green;
 padding-right: 5px;
 padding-left: 2px;
}