#tweets-container {
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
 #tweets-container > article {
   display: flex;
   margin-left: 5px;
   margin-top: 5px;
 }
#old-tweet-text {
  display: flex;
  flex-direction: column;
  width: 98%;
  border: 2px solid purple;
  border-radius: 15px;
}
#old-tweet-text:hover {
  border: 2px solid pink;
}
#old-tweet-text > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding-top: 2px;
  padding-bottom: 2px;
}
.avatar-location {
  display: flex;
  justify-content: row;
  align-items: center;
}

.fas.fa-user-astronaut {
 display: flex;
 font-size: 2em;
 justify-content: center;
 align-items: center;
 color: green;
 padding-right: 5px;
 padding-left: 2px;
}